body {
    background-color: #777777;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2em;
}
h2 {
    color: #000000;
    font-size: 1.5em;
    margin-top: 20px;
}
section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
    line-height: 1.5;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

a {
    color: #2b2b2b;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
